* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: background 0.3s;
}
*::selection {
	background-color: var(--text-color);
	color: var(--bg-color);
}
body {
	padding: 0;
	margin: 0;
	background-color: var(--bg-color);
}
.title {
	font-size: 4.6rem;
	margin-bottom: 0;
	color: var(--text-color);
	background-color: var(--bg-color);
}
.sub-title {
	font-size: 1.25rem;
	margin-top: 0;
	color: var(--text-color);
	background-color: var(--bg-color);
}
.full-screen {
	width: 100vw;
	height: 100vh;
	text-align: center;
}
.table-container {
	width: 80%;
	height: auto;
}
.table-row {
	display: flex;
}
.table-item {
	width: 60px;
	height: 60px;
	margin: 1px;
	border: 1px solid var(--grid-border-color);
	font-size: 1.2rem;
	cursor: pointer;
	background-color: var(--grid-color);
	color: var(--text-color);
	opacity: 0;
	animation: fade-in forwards 0.3s;
}
.selected {
	transition: background 0.1s;
	background-color: var(--grid-border-color);
}
.error {
	color: #f00;
}
.bold {
	font-weight: bolder;
	font-size: 1.6rem;
}
.mobile-input {
	display: none;
	margin-top: 20px;
}

@media (max-width: 600px) {
	.title {
		font-size: 1.6rem;
	}
	.sub-title {
		margin-top: 0;
		font-size: 1rem;
	}
	.table-container {
		width: 100%;
	}
	.table-item {
		height: 40px;
	}
	.mobile-input {
		display: block;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
